{% extends 'base.html' %}

{% block content %}

<h3>
  List of organizations
</h3>
{% for org in object_list %}
  <div class="panel panel-default">
    <div class="panel-heading">
      Organization {{ org.name }} in {{ org.country }}, {{org.city}}
    </div>
    <ul class="list-group">
      {% for office in org.office_set.all %}
        <li class="list-group-item">
          <a href="{% url 'office_info' office.pk %}"> {{ office.name }} </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}

{% endblock %}
